<h1>Listing partners</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Name</th>
    <th>Link</th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%=h partner.company %></td>
    <td><%=h partner.name %></td>
    <td><%=h partner.link %></td>
    <td><%= link_to 'Show', partner %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
    <td><%= link_to 'Destroy', partner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New partner', new_partner_path %>